/* Summary Table */

button.vote-sort-svg > svg { text-shadow: none;  height:10px; padding:0 0 2px 0; }
button.vote-sort-svg {outline: none;}

button.vote-delete-svg >svg {height:0.7em;}

.vote-tbl-page-footer select{
	padding:0;
	margin:0;
	border:none;	
}
.vote-tbl-page-footer {
	text-align:center;
}

.vote-tbl-page-prev{
	float:left;
}
.vote-tbl-page-next{
	float:right;
}

.vote-tbl-page-footer button svg {height:0.7em;}
.vote-tbl-page-footer button {outline: none;}
.vote-tbl-page-footer button:disabled {display:none;}

.vote-tbl-page-footer td{
	margin: 0 0 0 0;
	padding: 4px 7px 4px 7px;
}


.vote-summary-table{
	 width:100%;
}
/* Table caption at top */
.vote-summary-table caption {
 caption-side:top;
 margin-bottom:0.2rem;
 text-align:left;	
}
